.wrapper-title{
    text-align: center;
    /* display: flex;
    flex-direction: column; */
    background-color: beige;
    width: 450px;
    margin: auto;
}

.wrapper-main{
    margin: auto;
    width: 450px;
}

