/* CSS for Home Page */
.home {
  margin: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* CSS for ZenForm */
.wrapper-title {
  text-align: center;
  background-color: beige;
  width: 450px;
  margin: auto;
  margin-top: 25px;
}

.wrapper-main {
  margin: auto;
  width: 450px;
}

/* CSS for Success */
.success-wrapper {
  text-align: center;
  background-color: #99ff99;
  margin: auto;
  width: 500px;
  margin-top: 20px;
  padding-bottom: 5px;
}

.copy {
  cursor: pointer;
}

/* CSS for Status */
.wrapper-status {
  margin-top: 30px;
}

/* CSS for Dashboard */
.dashboard-wrapper {
  margin-top: 30px;
}

.head-wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
  place-content: center;
}

.cards {
  width: 18rem;
}

/* Styles for Navbar */
.navbar {
  width: 100%;
  height: 100px;
  background-color: black;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.links :hover {
  color: #ff6600;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
}

.toggle-button {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggle-button svg {
  font-size: 50px;
}

.toggle-button button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#open {
  height: 100vh;
}

#open .links {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

#open a {
  width: 100%;
  text-align: center;
}

/* CSS for Table */
.main-wrapper {
  padding: 0 10%;
  margin: 40px auto 0;
}

.heading {
  text-align: center;
  margin-bottom: 30px;
}

.main-wrapper {
  width: 100%;
  border-collapse: collapse;
}

.main-wrapper thead {
  background-color: #ee2828;
  color: white;
}

.main-wrapper thead tr th {
  letter-spacing: 0.35px;
  color: #ffffff;
  opacity: 1;
  padding: 12px;
  vertical-align: top;
  border: 1px solid #dee2e685;
}

.main-wrapper tbody tr td {
  letter-spacing: 0.35px;
  background-color: #6699cc;
  color: white;
  /* text-align: center;   */
  border: 1px solid #dee2e685;
}

/* CSS for Contact */
.contact h3 {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}
.contact p{
  text-align: center;   
  font-size: 24px;  
}

/* Media query for Navbar */
@media only screen and (max-width: 1000px) {

    .home-image {
        width: 600px;
    }
  
}

@media only screen and (max-width: 600px) {
  .toggle-button {
    display: flex;
  }
  #close a {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .toggle-button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    flex-direction: row;
  }
}

/* Media query for Zenform, Success, Status, Dashboard */
@media only screen and (max-width: 768px) {
  .wrapper-title {
    text-align: center;
    background-color: beige;
    width: 350px;
    margin: auto;
    margin-top: 25px;
  }

  .wrapper-main {
    margin: auto;
    width: 350px;
  }

  .success-wrapper {
    text-align: center;
    background-color: #99ff99;
    margin: auto;
    width: 300px;
    margin-top: 20px;
    padding-bottom: 5px;
  }

  .copy {
    cursor: pointer;
  }

  .wrapper-status {
    margin-top: 25px;          
  }

  /* CSS for Dashboard */
  .head-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .main-wrapper Table thead {
    display: none;
  }
  .main-wrapper,
  .main-wrapper tbody,
  .main-wrapper tr,
  .main-wrapper td {
    display: block;
    width: 100%;
  }
  .main-wrapper tr {
    margin-bottom: 15px;
  }
  .main-wrapper tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .main-wrapper td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 645;
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {

    .home-image {
        width: 350px;
    }
  
}
